@import '_bootstrap.scss';
html,
body {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    div {
        align-self: flex-end;
        height: 100%;
    }
}